*~
*.log
config.status
CHANGES
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
cssada.gpr
cssada_tests.gpr
cssada_tools.gpr
tests.xml
cssada-tests.xml
autom4te.cache
bin/
obj/
lib/
cssada-aunit.xml
tools/css-tools-configs.ads