*~
*.log
Makefile
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
Makefile
cssada.gpr
cssada_tests.gpr
tests.xml
cssada-tests.xml
autom4te.cache
bin/
obj/
lib/
cssada-aunit.xml
tools/css-tools-configs.ads