*~
*.log
CHANGES
Makefile.conf
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
tests.xml
cssada-tests.xml
alire
bin/
obj/
lib/
cssada-aunit.xml
tools/src/css-tools-configs.ads
regtests/results
cover/
